.card3{

}

.plantillaTres {
    background-image: url("../../assets/Fondos/Plantilla3Fondo.jpeg");
    background-repeat: no-repeat;      /* Evita que la imagen se repita */
    background-size: cover;             /* Hace que la imagen se escale para cubrir todo el fondo */
    background-position: center; 

}

.container {
    
}

.container .card3 .subtitle3{
    color: white;
}


.redesSociales a {
    border-radius: 20px;
    background-color: white;
}

.redesSociales a i {
    color: black;
}