.card4{
    display: flex;
    flex-direction: column;
    background-image: none;
    align-items: center;
    justify-content: center;
    color: white;
    height: 80vh;
}

.plantillaCuatro {
    background-image: url("../../assets/Fondos/Plantilla4Fondo.jpeg");
    background-repeat: no-repeat;      /* Evita que la imagen se repita */
    background-size: cover;             /* Hace que la imagen se escale para cubrir todo el fondo */
    background-position: center; 

}



.card4 .subtitle4{
    color: white;
    margin-bottom: 40px;
}