.home{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgb(233, 233, 233);
    justify-content: center;
    

}

.homeUses {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
}



.btnGuardarHomePage{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto;
    margin-top: 0px;
}


.btnCompartLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #F3F1FC; /* Fondo lila claro */
    color: #4C6EF5; /* Azul vibrante */
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; /* Eliminar subrayado */
    margin: 20px auto;
    margin-top: 10px;
    padding: 12px 20px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    width: 250px; /* Ajusta el tamaño según necesites */
}

.btnCompartLink:hover {
    background-color: #E0DAFA; /* Un poco más oscuro en hover */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.btnCompartLink svg {
    width: 20px;
    height: 20px;
    stroke: #4C6EF5; /* Color del icono */
}

